.post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  width: 800px;
}

.username-container {
  display: flex;
}

.post-content {
  text-align: justify;
  margin: 0;
}
